/*
This file is to keep common styling across all html files
If any changes are made to inline html style, they must be reflected across all files including this
*/

body {
    font-family: 'Courier', monospace;
}

p {
    font-family: 'Courier', monospace;
}

.section {
    padding: 3rem 1.5rem;
}

.container {
    background-color: rgba(0, 0, 0, 0.05);
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.content {
    padding: 2rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#custom-button {
    font-family: 'Courier', monospace;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-link {
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
}