[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
kafka-python = "*"
fake-useragent = "*"
pyyaml = "*"
beautifulsoup4 = "*"
uvicorn = "*"
starlette = "*"

[dev-packages]

[requires]
python_version = "3.11"
